<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OnePassword Generation Tool</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/generator.css}" rel="stylesheet">
</head>
<body>
    <h2>Generator</h2>
        <div class="password" th:text="${newPassword}"></div>
    <form th:action="@{/tools/generator}" th:object="${passwordFormData}" method="post" >
        <div>
            <div class="section-space">
             <div class="options">What would you like to generate?</div>
               <label for="passwordOption">
                   <input type="radio" value="password" name="password" id="passwordOption"/> Password
               </label>
               <label for="username">
                   <input type="radio" value="username" name="username" id="username"/> Username
               </label>
           </div>
            <div class="section-space">
                <div class="options">Password Type</div>
                <label for="password">
                    <input type="radio" value="password" name="password" id="password"/> Password
                </label>
                <label for="passPhrase">
                    <input type="radio" value="passPhrase" name="passPhrase" id="passPhrase"/> Passphrase
                </label>
                </div>
            <div class="section-space determine-length-section">
                <div>
                <div class="options">Length </div>
                    <label for="length">
                        <input th:field="*{length}" type="number" name="length" step="1" id="length" min="5" max="15"/>
                    </label>
                </div>
                <div>
                <div class="options" >Minimum numbers</div>
                    <label for="min-number">
                        <input th:field="*{min_number}" type="number" name="min-number" step="1" id="min-number" min="0" max="14"/>
                    </label>
                </div>
            </div>
            <div class="section-space">
            <div class="options">Options</div>
            <div class="GeneratorOptions">
            <label for="a-z">
                <input th:field="*{a_z}" type="checkbox" id="a-z" name="a-z" value="true"> a-z
            </label>
            <label for=capital-A-Z>
                <input th:field="*{capital_A_Z}" type="checkbox" name="capital-A-Z"  id="capital-A-Z" value="true"/> A-Z
            </label>
            <label for="0-9">
                <input th:field="*{zeroToNine}" type="checkbox" name="0-9" id="0-9" value="true"/> 0-9
            </label>
            <label for="specialCharacters">
                <input th:field="*{specialCharacters}" type="checkbox" name="specialCharacters" id="specialCharacters" value="true"/> !@#$%^&*
            </label>
            </div>
            </div>
        </div>
        <input class="Regenerate-btn section-space" type="submit" value="Regenerate password" />
        <input class="Regenerate-btn section-space" type="button" value="Copy password"/>
    </form>
</body>
</html>