<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:fragment="passwordForm">
       <div>
           <div>Length</div>
           <label for="length">
               <input type="number" name="length" step="1" id="length" min="5" max="15"/>
           </label>
           <div>Minimum numbers</div>
           <label for="min-number">
               <input type="number" name="min-number" step="1" id="min-number" min="0" max="14"/>
           </label>
           <div>Options</div>
           <label for="a-z">
               <input type="checkbox" id="a-z" name="a-z" value="a-z"> a-z
           </label>
           <label for=capital-A-Z>
               <input type="checkbox" name="capital-A-Z"  id="capital-A-Z" value="capital-A-Z"/> A-Z
           </label>
           <label for="0-9">
               <input type="checkbox" name="0-9" id="0-9" value="0-9"/>
           </label>
           <label for="specialCharacters">
               <input type="checkbox" name="specialCharacters" id="specialCharacters" value="specialCharacters"/>
           </label>
       </div>
    </form>
</body>
</html>