* {
    font-family: sans-serif;
}
ul.bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #175ddc;
}

a {
    color: white;
    text-decoration: none;
    font-weight:bold;
    padding: 20px;
}

.Link {
    margin-top: 10px;
}

nav {
    height: 100%;
    background-color: #175ddc;
}


