<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/sideNavigation.css}" rel="stylesheet">
</head>
<body>
        <nav th:fragment="sideNavigation">
            <div>Password Manager</div>
            <ul class="bullets">
                <li class="Link"><a  th:href="@{/vaults}">Vaults</a></li>
                <li class="Link"><a  th:href="@{/send}">Send</a></li>
                <li class="Link"><a  th:href="@{/tools}">Tools</a></li>
                <li class="Link"><a  th:href="@{/reports}">Reports</a></li>
            </ul>
        </nav>
</body>
</html>